<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Greefies Css Template</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
        <script type="text/javascript" src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script type="text/javascript" src="scripts/application.js"></script>
        <script type="text/javascript" src="scripts/controller.js"></script>
    </head>

    <body ng-app="introApp" ng-controller="MainCtrl">
        <div id="main_container">
            <div id="header">
                <div id="logo"><a href="home.html"><img src="css/images/logo.gif" alt="" title="" border="0"></a></div>

                <div id="menu">
                    <ul>
                        <li><a class="current" href="home.html" title="">home</a></li>
                        <li><a href="services.html" title="">services</a></li>
                        <li><a href="#" title="">clients</a></li>
                        <li><a href="#" title="">testimonials</a></li>
                        <li><a href="contact.html" title="">contact us</a></li>
                    </ul>
                </div>

            </div>

            <div class="green_box">
                <div class="clock">
                    <img src="images/clock.png" alt="" title="" />
                </div>
                <div class="text_content">
                    <h1>What is your biological clock?</h1>
                    <p class="green">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum."
                    </p>
                    <div class="read_more"><a href="#">read more</a></div>
                </div>

                <div id="right_nav">
                    <ul>
                        <li ng-repeat="item in menu"><a class="current" href="home.html" title="">{{item}}</a></li>
                        <li><input type="text" ng-model="newItem" class="short"/><div class="read_more inline-button" ng-click="addItem()" ng-show="newItem.length>0">Add</div></li>
                    </ul>
                </div>


            </div><!--end of green box-->

            <div id="main_content">
                <div id="left_content">
                    <h2>Welcome to greefies</h2>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>

                    <div id="left_nav">
                        <ul>
                            <li><a href="home.html" title="">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="services.html" title="">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#" title="">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#" title="">Lorem ipsum dolor sit amet</a></li>
                        </ul>
                    </div>

                    <p class="clear">
                        <img src="images/pic1.jpg" alt="" title="" class="left_img"/>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.
                    </p>
                    <div class="read_more_link">
                        <a href="#">read more</a>
                    </div>

                </div><!--end of left content-->

                <div id="right_content">
                    <h2>Our Products</h2>
                    <div class="products_box">
                        <img src="css/images/box_icon.gif" alt="" title="" class="box_img" />
                        <h3>Dolore magna aliqua</h3>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                        </p>
                        <div class="read_more_link"><a href="#">read more</a></div>
                    </div>


                    <div class="products_box">
                        <img src="css/images/box_icon.gif" alt="" title="" class="box_img" />
                        <h3>Dolore magna aliqua</h3>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                        </p>
                        <div class="read_more_link"><a href="#">read more</a></div>
                    </div>

                    <div class="search_box">
                        <div class="search_title">Dolore magna aliqua</div>
                        <input class="search_input" type="text" />
                        <input src="css/images/search.gif" class="submit" type="image" />
                        <div class="subsearch">
                            "Lorem ipsum dolor sit amet.
                        </div>

                    </div>


                    <div class="contact_information">
                        <h4>Free Customers Support</h4>
                        <p>
                            <img src="css/images/phone_icon.gif" alt="" title="" class="box_img" />
                            0700 679 122 489<br/>
                            0700 679 122 489
                        </p>
                        <p>
                            <img src="css/images/contact_icon.gif" alt="" title="" class="box_img"/>
                            info@company.com<br/>
                            contact@company.com
                        </p>
                    </div>

                </div><!--end of right content-->



                <div style=" clear:both;"></div>
            </div><!--end of main content-->


            <div id="footer">
                <div class="copyright">
                    <a href="home.html"><img src="css/images/footer_logo.gif" alt="" title="" border="0"></a>
                </div>
                <div class="footer_links">
                    <a href="#">About us</a>
                    <a href="privacy.html">Privacy policy</a>
                    <a href="contact.html">Contact us </a>
                    <a href="http://www.wix.com/start/matrix/?utm_campaign=af_webpagedesign.com.au&amp;experiment_id=Greefies">Create your own free web site</a>

                </div>
            </div>
        </div> <!--end of main container-->
    </body>
</html>